ansible==2.9.20
asn1crypto==0.23.0
bcrypt==3.1.4
cffi==1.11.2
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
Jinja2==2.10
MarkupSafe==1.0
netaddr==0.7.19
netmiko==1.4.3
paramiko==2.4.0
pyasn1==0.4.2
pycparser==2.18
pycrypto==2.6.1
PyNaCl==1.2.1
PyYAML==3.12
scp==0.10.2
six==1.11.0
textfsm==0.3.2
